<ion-view hide-nav-bar="true">
  <ion-content class="padding stable-bg">
    <div class="branding">
      <div class="branding-row">
        <!--<div class="col col-70"><div class="tagline dark text-center">Blood Test App</div>-->
          <!--<div class="tagline2 dark">by Protos Lab</div></div>-->
        <div ><img class="logo left" src="img/info-logo.png"></div>

      </div>


      <p class="dark text-left branding-content">This app was created on marketing purpose to show the abilities of our company. </p>
      <p class="dark text-left branding-content">If your are looking for a software vendor just drop me an email. </p>
      <button class="button button-clear button-dark email-btn" ng-click="sendEmail('wojciech.maykowski@protoslab.com')">wojciech.maykowski@protoslab.com</button>
    </div>
  </ion-content>
</ion-view>