
<ion-view hide-nav-bar="true">

    <ion-header-bar class="item-input-inset bar-positive" align-title="center" ng-init="showCancel=false">
        <label class="item-input-wrapper bar-positive search ion-search">
            <!--<i class="icon ion-search placeholder-icon-stable"></i>-->
            <input type="search" ng-model="query" class="search-input" placeholder="Search" ng-click="showCancel=true;" ng-blur="showCancel=false;">
        </label>
        <button ng-show="showCancel" ng-click="showCancel=false;query='';" class="button button-clear search-cancel">Cancel</button>
    </ion-header-bar>



    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder" >
            <ion-item ng-class="{'flag': item.flag}" ng-repeat="item in patients | filter: query" class="item-avatar-left item-icon-right
      item-text-wrap patient-item" ui-sref="tabs.detail({aId:item.id})">
                <img ng-src="img/{{item.sex}}.png" alt="{{ item.name }} Photo" class="avatar-list">
                <i class="icon ion-chevron-right icon-accessory"></i>
                <p class="list-item-name">{{item.name}}</p>
                <p class="list-item-details">Age: {{item.age}}</p>
                <p class="list-item-details">Last visit: {{item.last_visit}}</p>

                <button class="button button-clear icon ion-flag button-assertive" ng-click="toggleFlag(item)" ng-show="item.flag"></button>
                <ion-option-button class="button-energized" ng-click="toggleFlag(item)">
                    <i class="icon ion-flag"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="onItemDelete(item)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
