<ion-view>
    <ion-nav-title class="bar-positive">
        <h2 class="title">{{whichartist}}</h2>
    </ion-nav-title>
    <ion-content ion-sticky ion-sticky-class="stable">
        <ion-list>
            <ion-item class="item-divider"> A </ion-item>
            <ion-item> A1 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item class="item-divider"> B </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
            <ion-item> A2 </ion-item>
        </ion-list>
    </ion-content>
</ion-view>