/* Empty. Add your own CSS if you like */


body {
  cursor: url('http://ionicframework.com/img/finger.png');
}

/*.flag>.item-content {*/
  /*background-color: #fff5b4 !important;*/
/*}*/

.splash {
  background: url(../img/skyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.branding {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.branding-row{
  padding:0;
}

.email-btn{
  margin-top:20px;
  text-decoration: underline;
}

.logo{
  height:auto;width:100%;
  padding:0;
}

.tagline {
  font-size: 1.4rem;
  /*font-family: "Sri-TSCRegular", serif*/
}

.tagline2 {
  font-size: 0.8rem;
}

.branding p {
  margin-top: 30px;
  line-height: 2.0rem;
  font-size: 1.0rem;
}

.positive-bg{
  background-color: #b92b27 !important;
  border-color:  #b92b27;

}

/*.item-divider {*/
  /*background-color: #EEE8D6;*/
/*}*/

.bar-positive, .tabs-positive>.tabs {
  background-color: #b92b27 !important;
  border-color:  #b92b27;
  background-image: linear-gradient(0deg, #b92b27, #b92b27 0%, transparent 0%)
}

/*.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {*/
  /*color: #b92b27;*/
/*}*/

.item-thumbnail-left img {
  border-radius: 10px;
}

.item h3 {
  font-size: 1rem;
  /*font-weight: bold;*/
  color: #000;
  font-family:Arial;
}

.item h4 {
  font-size: 0.8rem;
  /*font-weight: bold;*/
  color: #000;
  font-family:Arial;
}

.dayhighlight {
  background-color: #9EC6DE;
  border-top: 20px solid #417D9A;
}

.dayhighlight h2 {
  color: #417D9A;
  font-size: 2rem;
  font-weight: 200;
}


/*Custom*/

h1 {
    font-size:2.0em;
}

.search-item{
  background-color: #e9e9e9;

}

label.search{
  border:1px solid #5b5b5b !important;
  background-color: #fff;

}

input.search-input{
  color:#000;
}

.search-box{
  border:1px solid #5b5b5b !important;

}

.ion-search{
  font-size:20px;
}
.search-input::-webkit-input-placeholder{
  color:#6a6a6a;
}

.search-input:focus::-webkit-input-placeholder{
  color: #c2c2c2;
}

.search-cancel{
  line-height: 0.8em;
  height: 20px;
  min-height: 24px;
}

.search-cancel.ng-hide-add {
  transition: all 0.2s linear;
}

.search-cancel.ng-hide-add.ng-hide-add-active {
  transform:translateX(100px);
}

.search-cancel.ng-hide-remove {
  transform:translateX(0);
  transition: all 0.2s linear;
}

.search-cancel.ng-hide-remove{
  transform:translateX(100px);
}

.search-cancel.ng-hide-remove-active {
  transform:translateX(0);
}

ion-item.item-divider {
  background-color: #edefef;
  color:#000;
  font-weight: bold;
  /*border:solid #b92b27 2px;*/
}

div.item-divider{
  background-color:#fff;
}

.avatar-img{
    width:100%;
    max-height:200px;
    max-width:200px;
  border-radius: 50%;
}

img.avatar-list{
  width: auto !important;
  height:60%!important;
  max-width: 70px!important;
  max-height: 70px!important;
}

.item-thumbnail-left{
  height:70px!important;
}


.patient-item.ng-enter,
.patient-item.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.patient-item.ng-enter,
.patient-item.ng-leave.ng-leave-active {
  transform:translateX(-800px);


}

.patient-item.ng-leave,
.patient-item.ng-enter.ng-enter-active {
  transform:translateX(0);
  opacity:1;

}


.ion-ios-telephone{
  font-size:1.5em;
}


.phone-link{
  text-decoration:none;
}

p.list-item-name{
  font-size:1.2em;
  font-family:Arial;
  color:#000;
  margin-left: 30px;
}

p.list-item-detail{
  font-size:1em;
  font-family:Arial;
  color:#000;
  margin-left: 30px;
}

p.list-item-details{
  margin-left: 30px;
}

.blood{
  color:#b92b27;
}

